/*Criação de variáveis para aproveitamento posterior*/
:root {
  --red: #dc4266;
  --blue: #3072e6;
  --background: #00032c;
  --white: #ffffff;
  --blue-air-force: #5d8aa8;

  --profile-photo-size: 120px;
  font-family: "Roboto", sans-serif;
}

h1,
p,
body,
button {
  margin: 0;
}

i {
  font-size: 24px;
}

body {
  background: var(--background);
  color: var(--white);
}

main {
  margin: 0 auto;
  max-width: 500px;
  padding: 0 15px;

  border: 3px solid red;
}

header {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  color: var(--blue-air-force);
  font-size: 24px;
  margin-top: 15px;
}

.ocupation {
  margin-top: 5px;
  margin-bottom: 15px;
}

.photo-container {
  overflow: hidden;
  width: var(--profile-photo-size);
  height: var(--profile-photo-size);
  border-radius: 100%;
  border: 4px solid var(--blue);
}

.profile-photo {
  width: var(--profile-photo-size);
  margin-top: -2px;
}

section {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.link {
  background-color: var(--blue-air-force);
  text-decoration: none;
  color: var(--white);
  margin-top: 30px;
  height: 50px;

  width: 100%;
  max-width: 270px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 250ms;
}

.link:first-child {
  margin-top: 0;
}

.link:hover {
  filter: brightness(1.22);
  transform: translateY(-2px);
}

.link i {
  margin-right: 7px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

}

.call-me {
  text-align: center;
}

footer i {
    margin-top: 15px;
    color: var(--blue-air-force);
}
