/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 100%; /* Define a largura da página em 100% */
  max-width: 210mm; /* Define a largura máxima da página em 210mm */
  margin: auto;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 20mm; /* Margem interna da página em milímetros */
  min-height: calc(100vh - 70px);
}

/* Define um ponto de interrupção para telas menores do que 600px */
@media screen and (max-width: 600px) {
  .page {
    padding: 10mm; /* Reduz a margem interna da página em telas menores */
  }
}

.page h1 {
  text-align: center;
  margin-bottom: 24px;
  color: rgb(0, 98, 196);
  text-shadow: 1px 1px 1px white;
}

.name {
  font-size: 25px;
}
.dados {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.dados a {
  color: black;
}

.dados a:hover {
  color: brown;
  text-decoration: none;
}
.logo {
  width: 20px;
}

.perfil {
  height: 150px;
  width: 150px;
}

.dados p {
  margin-left: 40px;
}

img {
  border-radius: 200vh;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  width: 120px;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

footer {
  bottom: 0;
  /* display: block; */
  position: fixed;
  width: 100%;
  height: 70px;
  clear: both;
  text-align: center;
  padding: 20px;
  color: #fff;
  background-image: linear-gradient(
    to right,
    rgba(110, 172, 228, 0.5),
    rgb(0, 98, 196),
    rgba(0, 0, 0, 0.05)
  );
}

footer img {
  width: 20px;
}

.ig {
  color: #fff;
}

.ig:hover {
  color: aquamarine;
  text-decoration: none;
}

i {
  color: brown;
}

.experiencia ul label {
  margin: 0;
}

@media only screen and (max-width: 375px) {
  /* Estilos para iPhone 12 */
  header {
    height: 60px;
  }

  nav ul {
    font-size: 22px;
  }

  nav ul li a {
    margin: 15px;
  }

  .page {
    width: 300px;
    margin-top: 150px;
    padding: 15mm;
  }

  .perfil {
    height: 100px;
    width: 100px;
  }

  img {
    width: 80px;
  }

  h1 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }

  footer {
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
    margin-bottom: 15px;
  }

  footer img {
    width: 15px;
  }

  .name {
    font-size: 20px;
  }

  .dados p {
    margin-left: 20px;
  }
}
